.login__form{
    padding: 100px;
    width: 700px;
    margin: 0 auto 0;
   
}
.card{
    border-radius: 15px !important;
}
.input__form{
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.input__form input{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.signin__button{
    background-color: #ee5253;
    border: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}
.signin__button:hover{
    background-color: #d92d2d;
}
/* .divider{
    display: ;
} */
.divider span{
    width: 200px;
    height: 1px;
    background-color: lightgrey;
}

@media only screen and (max-width: 600px){
    .login__form{
        padding: 30px;
        width: 430px;
    }
}